*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}
/* Utility Classes */
.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 0 2em;
}

/* Header Section */

header .container {
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 1em 0;
}

.logo {
    height: 1.5em;
    width: 1.5em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin-right: auto;
    font-size: 1rem;
}

/* Navigation Menu */

nav ul {
    list-style-type: none;
    text-transform: uppercase;
    font-size: .8rem;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

/* Featured Article Section */

.featured-article {
    background: #0e0e0e url(/images/blog-image-hero.png);
    background-size: cover;
    color: #fff;
}

.featured-article .container {
    flex-direction: column;
    justify-content: end;
    padding-top: 3em;
    padding-bottom: 1em;
}

.featured-article time {
    order: -1;
}

.featured-article h2 {
    font-size: 2.5rem;
    margin: 0;
}

.featured-article p {
    margin-top: 0;
    max-width: 650px;
}

/* Article List */

.article-item {
    flex-direction: column;
}

.article-item a {
    text-decoration: none;
    color: #141414;
}

.article-item img {
    min-width: 100%;
    order: -2;
}

.article-item time {
    order: -1
}